.Services {
	column-gap: 80px;
	display: flex;
	flex-direction: row;
	border-radius: var(--border-radius);
	background-color: var(--bg-color-2);
	padding: var(--inner-padding-x);

	.service {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		width: 100%;

		p {
			font-weight: 400;
            font-size: calc(16px + .5vw);
            line-height: 1.5em;
		}
	}

	@media screen and (max-width: 1000px) {
		flex-direction: column;
		row-gap: 80px;

		.service {
			row-gap: 20px;
		}
	}
}
