.Services {
	column-gap: 30px;
	display: flex;
	flex-direction: row;

	.service {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.4);
		border-radius: 14px;
		padding: 60px;
		row-gap: 40px;
	}
}
