.Contact {
	row-gap: 40px;
	background-color: var(--bg-color-2);
	border-radius: var(--border-radius);
	padding: var(--inner-padding-x);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 60px;
}
