.marquee-narrow {
	width: 100%;
	overflow: hidden;
	/* position: absolute; */
	pointer-events: none;
}

.marquee {
	display: inline-block;
	white-space: nowrap;
	animation: marquee 40s linear infinite;
	font-size: 160px;
	color: var(--text-color);
	font-family: var(--font-serif);
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
