header {
	height: var(--header-hight);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 20;
	width: calc(100% - var(--padding-x) * 2);

	ul {
		display: flex;
		flex-direction: row;
		column-gap: 40px;
		a {
			text-decoration: none;
		}
	}


}
