#parallax {
	overflow: hidden;
	height: calc(100vh - (70px + 40px));
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 20px;
	border-radius: 16px;
	background-color: #35222261;

	.background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("./../../public/bg.png");
		background-size: cover;
		background-position: center;
		z-index: -1;
		
	}

	h1 {
		text-align: center;
		font-size: calc(57px + 2.4vw);
		line-height: 1.1em;
		font-family: var(--font-serif);
		color: var(--text-accent);
	}

	h2 {
		margin-top: 0.2em;
		font-size: calc(24px + 1.1vw);
		line-height: 1.3em;
		font-family: var(--font-serif);
		color: var(--text-accent);
		text-align: center;
	}
}
