Header {
	opacity: 0;
	animation: fade-in 0.5s ease-in 0.5s;
}

.show-layout {
	opacity: 1;
}

.fade-in-layout {
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.show-layout {
	.fade-in-layout {
		opacity: 1;
	}
}

.section-header {
	display: flex;
	flex-direction: column;
	text-align: center;
	row-gap: 20px;

	p {
		letter-spacing: 0, 025em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 2em;
		font-family: var(--font-serif);
		line-height: 1.2em;
	}
}

.packages-list {
	border-top: 1px solid var(--text-color);

	.package-item {
		border-bottom: 1px solid var(--text-color);
	}
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .8s ease-in-out, transform .8s ease-in-out;

	&.visible {
		opacity: 1;
		transform: translateY(0);
	}
}
