@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--header-hight: 70px;
	--padding-y: 40px;
	--inner-padding-y: 80px;
	--border-radius: 14px;

	/* Colors */
	--color-light: 250, 248, 248;
	--color-light-2: 244, 242, 239;
	--color-dark: 0, 39, 43;
	--color-dark-2: 6, 45, 49;

	--bg-color: rgb(var(--color-light));
	--bg-color-2: rgb(var(--color-light-2));
	--text-color: rgb(var(--color-dark));
}

[data-theme="dark"] {
	/* Dark mode colors */
	--bg-color: rgb(var(--color-dark));
	--bg-color-2: rgb(var(--color-dark-2));
	--text-color: rgb(var(--color-light));
}

.dm-serif-display-regular {
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-style: normal;
}

.dm-serif-display-regular-italic {
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-style: italic;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-color);
	color: var(--text-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
	margin: 0 auto;
	padding-left: var(--padding-y);
	padding-right: var(--padding-y);
}

.inner-padding-y {
	padding-left: var(--inner-padding-y);
	padding-right: var(--inner-padding-y);
}

/* RESET */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}
}

a {
	/* color: var(--primary-color); */
	color: inherit;
}
