@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--border-radius: 14px;
	--font-serif: "Ethic Serif", serif;
	--font-size-huge: calc((110 / var(--base-font-size)) * 1rem);
	--base-font-size: 16;

	/* Colors */
	--color-white: #fff;
	--color-beige: #f2f0ec;
	--color-green: #00272b;
	--color-green-dark: #012225;
	--color-purple-light: #decde9;
	--color-purple: #c49bde;

	/* Light mode colors */
	--bg-color: var(--color-beige);
	--bg-color-1: var(--color-white);
	--text-color: var(--color-green-dark);
	--text-accent: var(--color-purple);
	--logo-bg: var(--color-green-dark);
	--logo-fill: var(--color-purple);

	/* @media screen and (max-width: 1000px) {
		--padding-x: 30px;
		--inner-padding-x: 50px;
	}

	@media screen and (max-width: 750px) {
		--padding-x: 20px;
		--inner-padding-x: 30px;
	}

	@media screen and (max-width: 550px) {
		--padding-x: 10px;
		--inner-padding-x: 20px;
	} */
}

[data-theme="dark"] {
	/* Dark mode colors */
	--bg-color: var(--color-green);
	--bg-color-1: var(--color-dark-green);
	--text-color: var(--color-white);
	--text-accent: var(--color-green);
	--logo-bg: var(--color-purple-light);
	--logo-fill: var(--color-green-dark);
}

@layer components {
	@layer base {
		@font-face {
			font-family: "Ethic Serif";
			font-weight: 400;
			src: url(/public/fonts/EthicSerif-Light.woff) format("woff");
		}
		@font-face {
			font-family: "Ethic Serif";
			font-weight: 400;
			src: url(/public/fonts/EthicSerif-LightItalic.woff) format("woff");
			font-style: italic;
		}
	}

	.small-caps {
		@apply uppercase tracking-wide text-sm;
	}

	.max-w {
		@apply mx-auto max-w-screen-2xl w-full;
	}

	.narrow {
		@apply px-4 sm:px-6 lg:px-10;
	}

	.wide {
		@apply mx-4 sm:mx-6 lg:mx-10;
	}

	.bg {
		background-color: var(--bg-color);
	}

	.bg-1 {
		background-color: var(--bg-color-1);
	}

	.text-huge {
		font-size: var(--font-size-huge);
	}
}

.serif {
	font-family: var(--font-serif);
}

body {
	margin: 0;
	font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-weight: 400;
}

.text-accent {
	color: var(--text-accent);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.full-height {
	min-height: calc(100vh - 134px);
	display: flex;
}

a {
	color: inherit;
}

/* Only break lines on big screens */
@media screen and (min-width: 1200px) {
	.new-line {
		&::after {
			content: "\a";
			white-space: pre;
		}
	}
}
